@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/* Global Styling */
img{
  width: 100%;
}
ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
}

/* Sub-header */
.sub-header{
  height: 50vh;
  width: 100%;
  background-image: url(/images/sub-header-banner.svg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

.sub-header h2{
  padding-top: 8%;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 1px;
  font-family: 'Oswald', sans-serif;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav h1{
  font-size: 35px;
  font-weight: 800;
  color: #2009ef;
}

.nav-links{
  flex: 1;
  text-align: right;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background-color: #2009ef;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after{
  width: 100%;
}

.nav-links ul li.active{
  background-color: #2009ef;
  border-radius: 5px;
  transition: 0.3s;
}

.nav-links ul li.active a{
  color: #ffffff;
}

nav .fa{
  display: none;
}

/* News Main Body */
main a{
  padding: 15px 0;
  display: block;
  transition: all 0.5s;
}

main span{
  transition: padding-left 0.5s;
}

main a:hover span{
  padding-left: 5px;
}

main a:hover{
  color: #2009ef;
}

/* Main Container Right */
main{
  align-content: center;
}

.main-container-right{
  padding: 30px 10px;
}

.main-container-right > h2{
  padding: 15px 0 15px 30px;
}

.main-container-right article{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  padding: 15px 0;
  border-bottom: 1px solid lightgray;
}

.main-container-right article:last-child{
  border-bottom: none;
}

.main-container-right img{
  width: 100px;
  height: 100px;
  align-self: center;
}

.main-container-right h4{
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  align-self: center;
}

.main-container-right article h2{
  font-size: 18px;
  padding: 10px 0;
  font-family: var(--heading);
}

.main-container-right article p{
  font-size: 15px;
  font-weight: 300;
}

.main-container-right article div{
  margin-right: 10px;
}

/* Pagination */
.pagination{
  justify-content: center;
  text-align: center;
  margin: 30px 30px 60px;
  user-select: none;
}

.pagination li{
  display: inline-block;
  margin: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.pagination li a{
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 45px;
}

.previous-page, .next-page{
  background: #5ce1e6;
  width: 80px;
  border-radius: 45px;
  cursor: pointer;
  transition: 0.3s ease;
}

.previous-page:hover{
  transform: translateX(-5px);
}

.next-page:hover{
  transform: translateX(5px);
}

.current-page{
  background: lightgray;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.active{
  background: #5ce1e6;
}

.disable{
  background: lightgray;
}

/* Footer */
.footer{
  background-color: #efefef;
  padding: 10px 0;
  border-radius: 0 80px 0 0;
}

.footer-container{
  margin: 20px;
}

.footer-row{
display: flex;
flex-wrap: wrap;
}

.footer-col{
  width: 20%;
  padding: 10px;
}

ul{
list-style: none;
}

.footer-col h4{
font-size: 14px;
color: #737373;
margin-bottom: 25px;
font-weight: 600;
position: relative;
}

.footer-col h4::before{
content: '';
position: absolute;
left:0;
bottom: -10px;
background-color: #2009ef;
height: 2px;
box-sizing: border-box;
width: 50px;
}

.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}

.footer-col ul li a{
font-size: 12px;
color: #737373 !important;
text-decoration: none;
font-weight: 400;
color: #bbbbbb;
display: block;
transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  padding-left: 8px;
}

.footer-col .social-links a{
display: inline-block;
color: #737373;
  padding-right: 5px;
transition: all 0.5s ease;
  font-size: 20px;
}

.footer-col .social-links a:hover{
color: #2009ef;
background-color: #efefef;
}

.copyright i{
  font-size: 12px;
  color: #737373 !important;
}

/* Navigation Bar Responsiveness */
@media(max-width: 700px){
  .text-box h1{
    font-size: 20px;
  }
  .nav-links ul li{
    display: block;
  }
  .nav-links{
    position: fixed;
    background-image: url(/images/navigation-bar.svg);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa{
    display: block;
    color: #2009ef;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul{
    padding: 30px;
  }
}

/* News Body Responsiveness */
@media(max-width: 460px){
  .main-container-right article{
    display: block;
  }

  .main-container-right article img{
    display: none;
  }
}

@media(max-width: 500px){
  .main-container-right article{
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
  }

  .main-container-right article h4{
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: flex-start;
  }

  .main-container-right article img{
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .main-container-right article div{
    grid-row: 1/3;
    grid-column: 2/3;
  }
}


@media(min-width: 768px){
  .container-bottom-left{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}


@media(min-width: 992px){
  main{
    display: grid;
  }
}

/* Footer Responsiveness */
@media(max-width: 574px){
  .footer-col{
    width: 100%;
  }
}